@import url("./mod/mainframe.css");
@import url("./mod/character.css");
@import url("./mod/status.css");
@import url("./mod/inventory.css");
@import url("./mod/chat.css");
@import url("./mod/map_overlay.css");
@import url("./mod/mission_npcs.css");
@import url("./mod/blue_indicator.css");
@import url("./mod/portal_machine.css");
@import url("./mod/zauberpuzzle.css");

/*:root {
    --primary: #222;
    --chat_bg: #222;
    --area_bg: #444;
    --mainheader_bg: #333;
    --itemframe_bg: #222;
    --border: #666;
    --global_font: white;
    --global_font_inverted: black;
    --global_font-size: 0.775rem;
    --linkcolor: #c63;
    --linkcolor_hover: #f30;
    --chat_linkcolor: #c30;
    --chat_highlight: #9c6;
    --chat_group: #f93;
    --chat_clan: #f33;
    --chat_scream: #69f;
    --chat_global: #f3f;
    --chat_whisper: #999;
    --chat_whisper_player: #3c3;
    --chat_whisper_highlight: #996;
    --chat_keuronerwhisper: #9cc;
    --chat_weather: #fc3;
    --chat_font-size: 0.775rem; 
    --color_healthok: #6f6;
    --color_healthmed: #f60;
    --color_healthcritical: #f33; 
    --color_worldsay_green: #696;
    --color_worldsay_blue: #99f;
    --color_worldsay_yellow: #f33;
    --color_worldsay_sundown: #f99;
    --color_npc_bg: #ccc;
    --color_plant_bg: #696;
    --color_phase_bg: #669 ;
    --npc_highlight: #9c6;
    --blauer_indicator: #c63;
} */
:root {
    --primary: #F8F8F8;
    --chat_bg: #F8F8F8;
    /*Grauer Hintergrund*/
    --border: 1px solid #D6CBC2;
    --grey_bg: #ECE9E6;

    /*Inventar Hintergrund*/
    --itemframe_bg: url("img/itembg.jpg");
    
    --area_bg: #FFF8EF;
    --area_bg_border: 1px solid #FFDAA9;

    --mainheader_bg: url("img/headerbg.jpg");

    --global_font: black;
    --global_font_inverted: white;
    --global_font-size: 0.775rem;

    --linkcolor: #CC3300;
    --linkcolor_hover: #FF3300;

    --chat_linkcolor: #CC3300;
    --chat_highlight: black;

    --chat_group: #CE5A21;
    --chat_clan: #D20000;
    --chat_scream: #004DA7;
    --chat_global: #6e621e;

    --chat_whisper: #006600;
    --chat_whisper_player: #006600;
    --chat_whisper_highlight: #006600;

    --chat_keuronerwhisper: #9cc;
    --chat_weather: #A37300;
    --chat_font-size: 0.775rem;

    --color_healthok: #309000;
    --color_healthmed: #f60;
    --color_healthcritical: #f33;

    --color_worldsay_green: #99EE99;
    --color_worldsay_blue: #C1CEF9;
    --color_worldsay_yellow: #f33;
    --color_worldsay_sundown: #f99;

    --color_npc_bg: #ccc;
    --color_plant_bg: #696;
    --color_phase_bg: #669;

    --npc_highlight: #9c6;
    --blauer_indicator: #c63;
}


.framebannerbg:before { content: url("https://freewar.zocker.eu/eshop.php?par=*") " " url("https://freewar.zocker.eu/grafik.php") " " url("https://freewar.zocker.eu/vvvg.php"); }

p, ul, ol, body:not(.framemapbg) div, td, span, table, body {
    font-family: Arial, helvetica, sans-serif; 
    font-size: 0.775rem; 
    color: var(--global_font);
    margin: 0px;
    padding: 0px;
 }

ol, ul { margin-left: 25px; }

/*table {
    border: 0px;
    border-collapse: collapse;
    width: 100%; 
} */

table.friendlist {
  width: auto;       
  max-width: 300px;    
}

a:link    {
    color: var(--linkcolor);
    text-decoration: none;
    font-weight:bold;
}
a:visited { color: var(--linkcolor); }
a:active,
a:hover   { color: var(--linkcolor_hover); }

h1 {
    font-size: 12px;
    font-weight:bold;
    margin-bottom: 0px;
}
.medium { font-size: 11px; }
.small { font-size: 10px; }

/*
.body           { background-color: #FFFFFF; }
.divider        { background-color: #555555; }
.outline        { background-color: #999999; }
.menubg         { background-color: #F1F1F1; }
.brightbg       { background-color: #E5E5E5; }
.verybrightbg   { background-color: #F1F1F1; }
.reallybrightbg { background-color: #FAFAFA; }
.whitebg        { background-color: white; }
.blackbg        { background-color: black; }
.brownbg        { background-color: var(--mainheader_bg); }
.bg1            { background-color: var(--mainheader_bg) !important  ; }
*/

/*
.registerinput,
.registersubmit,
.logininput,
.loginsubmit {
    width: 100%;
    font-size: 10px;
}
*/

/* forms */
    input          { 
        font-size: 11px; 
        background-color: #FFECD3;
        border: 1px solid #C85424;
        height: 25px;
        width: 105px;
        font-size: 12px;
        border-radius: 5px
    }
    textarea        { font-size: 12px; background-color: #FFECD3; border: 1px solid #C85424; }
    select          { 
        font-size: 12px; 
        background-color: #FFECD3;
        border: 1px solid #C85424;
        height: 30; 
        margin-bottom: 5px; 
        width: -moz-available;  
        margin-top: 5px; 
        border-radius: 5px;
    }

#chatscroll {
  width: 15px;
  height: 15px;
}

/* chat buttons */
.submitsagen {
    background-image: url("img/button_bg2.jpg");
    border: 1px solid #777777;
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    height: 17px;
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 2px;
    width: 80px;
    border-radius: 0;
}
.submitclan {
    background-image: url("img/button_bg2.jpg");
    border: 1px solid #777777;
    color: #D20000;
    font-size: 11px;
    font-weight: bold;
    height: 17px;
    margin-right: 2px;
    padding-bottom: 2px;
    width: 80px;
    border-radius: 0;
}

.submitschreien {
    background-image: url("img/button_bg2.jpg");
    border: 1px solid #777777;
    color: #004DA7;
    font-size: 11px;
    font-weight: bold;
    height: 17px;
    margin-right: 2px;
    padding-bottom: 2px;
    width: 87px;
    border-radius: 0;
}
.submitgroup {
    background-image: url("img/button_bg2.jpg");
    border: 1px solid #777777;
    color: #E36B30;
    font-size: 11px;
    font-weight: bold;
    height: 17px;
    margin-right: 2px;
    padding-bottom: 2px;
    width: 80px;
    border-radius: 0;
}
.submitwhisper {
    background-image: url("img/button_bg2.jpg");
    border: 1px solid #777777;
    color: #006600;
    font-size: 11px;
    font-weight: bold;
    height: 17px;
    margin-right: 2px;
    padding-bottom: 2px;
    width: 88px;
    border-radius: 0;
}
.submitglobalchat   {
    background-image: url("img/button_bg2.jpg");
    border: 1px solid #777777;
    color: #6e621e;
    font-size: 11px;
    font-weight: bold;
    height: 17px;
    margin-right: 2px;
    padding-bottom: 2px;
    width: 80px;
    border-radius: 0;
}

.framechattextbg {
    background-color: var(--chat_bg);
    margin: 5px 5px 5px 10px;
}
.frameitembg {
    margin: 10px;
    background-image: var(--itemframe_bg);
}

.framemapbg { 
    margin: 10px;
    background-image: var(--itemframe_bg);
}
.framemenubg { 
    margin: 0 0 10 0;
    background-image: var(--itemframe_bg); 
}

a.nocango:hover {
    background: url(./img/nocango.gif) top left no-repeat;
    cursor: default;
}

td.c1 { text-align: left; }
