p.listcaption {
    border: 1px solid #A2A09F;
    font-weight: bold;
    padding: 2px 0 2px 5px;
    margin-bottom: 2px;
    background-image: url("../img/button_bg.jpg");
}


p.listitemrow {
    padding: 3px 3px;
    border: var(--border);
    font-size: 0;
    color: transparent;
    background: var(--grey_bg);
    margin: 2 0 2 0;
    
}
p.listitemrow b {
    font-size: 11px;
    color: var(--global_font);
}

p.listitemrow a[href*="action=activate"] {
    display: block;
    font-size: 11px;
}
p.listitemrow > a[href*="action=watch"],
p.listitemrow > a[href*="action=manydrop"],
p.listitemrow > a[href*="action=transfer1"],
p.listitemrow > a[href*="arrive_eval=itemabgabe2"] {
    font-size: 11px;
    margin-right: 20px;
}
/*Charakterfähigkeitenmenu*/
.abilitymenu td {
    text-align: right;
    padding: 2px;
    padding-left: 5px;
    border: 1px solid #D6CBC2;
    background-color: var(--grey_bg);
}

.itemamount {
    font-size: 11px;
    margin-right: 2px;
    font-weight: bold;
    color: var(--linkcolor);
}
.itemmagic {
    font-size: 11px;
    margin-left: 2px;
    font-weight: bold;
    color: green;
}
.magicextend {
    font-weight: bold;
    color: var(--color_healthok);
}

.itemequipped {
    font-weight: bold;
    color: var(--color_healthcritical);
}

.iteminventorypics { display:none; }

#filterrow {
    padding: 4px;
    padding-top: 2px;
    font-size: 11px;
    color: var(--global_font);
}
#filterrow span {
    padding-top: 4px; 
    width: 250px !important;
}
#searchtdel {
    right: 5px !important;
    bottom: calc(26px / 2 - 5px) !important;
}

table[id^="fastspell"] { margin-top: -1px; }

a[href="item.php?action=lastfastspell"] { font-size: 12px; }

table[id^="fastspell"] + span.small > center > br { font-size: 0; }

/* grüner indikator */
img.areaimg {
    height: 50px;
    width: 50px;
    margin-top: -10px;
}

/* portalmaschine */
button[name="voreinstellung"]  {
    font-size: 8px;
    height: 16px;
    width: 16px;
    background-color: #FFECD3;
    border: 1px solid #C85424;
    color: var(--global_font);
    margin-left: 10px;
    translate: 0 -2px;
}
