#MainFrameMain:-webkit-scrollbar { display: none; }
#MainFrameMain { scrollbar-width: none; }

/*
.framemainbg { font-size: 0; }
.framemainbg > a { font-size: var(--global_font-size); }
*/

td.mainheader       {
    font-size: 35px;
    background-color: var(--mainheader_bg);
    padding: 2px;
}
table.areadescription {
    border: 1px solid var(--area_bg_border);
    background-color: var(--area_bg);
    /* width: 100%; */
}
td.areadescription { padding: 5px; }
.tdplaceenv { border: 1px solid var(--border) !important; }
.imageborder {
  border: 1px solid #C85424;
  background-color: #C85424;
  margin-right: 10px;
  margin-bottom: 1px;
}
p.maincaption,
p.maincaption2 {
    font-weight: bold;
    font-size: 30px;
    padding: 1px;
    padding-left: 1px;
    background-color: var(--mainheader_bg);
    border: 1px solid var(--border);
}
p.maincaption2 { font-size: 12px; }
.maindesc1,
.maindesc2 {
    border: 1px solid var(--border);
    background-color: var(--area_bg);
    width: 100%;
}
p.maindesc1 {
    width: 300px;
    padding: 2px;
    margin-top: 1px;
}

.framemainbg > table:not(.framemainbg > table.friendlist) { width: 100%; }

#personlisttd {
    padding: 0 !important;
    max-width: 100%;
}

.personlistcaption,
.itemlistcaption { display: none; }

.listusersrow,
.playerrow,
.npcrow,
.listplaceitemsrow {
    padding: 5px;
    border: 1px solid var(--border);
    background-color:  
    overflow: hidden;
}

.npcrow { max-width: calc(100% - 122px); }

.playerrow { max-width: calc(100% - 12px); }

.listplaceitemsrow,
.npctypeGruppenNPC,
.npctypeUniqueNPC,
.npctypeOther { max-width: calc(100% - 70px); }

/* angreifen + item aufnehmen + ernten an gleicher position */
table.areadescription + br + table + br { display: none; }
table.areadescription + br + table + br + table + br { display: none; }
table.areadescription + br + table + br + style + table + br { display: none; }
table.areadescription + br + table + br + table + br + table + br { display: none; }
table.areadescription + br + table + br + style + table + br + style + table + br { display: none; }

/*
.playerrow + .playerrow,
.listplaceitemsrow + .listplaceitemsrow { border-top: 0px; }
*/

.listusersrow > b,
.areadescription > b { color: var(--npc_highlight) }

/* schließfach */
tr.listbankrow > td {  }
tr.listbankrow > td > input { height: 20px; margin: 1px 4px 2px 1px; }
tr.listbankrow > td > a[href*="itemabgabe2"] { font-size: 0; }
tr.listbankrow > td > a[href*="itemabgabe2"]::after {
    content: " einlagern";
    font-size: var(--global_font-size);
}
tr.listbankrow > td > a[href*="itemmitnahme2"] { font-size: 0; }
tr.listbankrow > td > a[href*="itemmitnahme2"]::after {
    content: " rausholen";
    font-size: var(--global_font-size);
}

font[color="#009900"] { color: var(--color_healthok); }
font[color="#aa0000"] { color: var(--color_healthcritical); }
font[color="#ff0000"] { color: var(--color_healthcritical); }

.listusersrow .fastattack::after,
.listusersrow .fastchase::after,
.framemainbg a[href*="archive"]::after,
.listplaceitemsrow a::after,
.areadescription a[href*="=getmission"]::after,
.areadescription a[href*="finish=1"]::after,
.areadescription a[href*="extra_active"]::after,
.areadescription a[href*="=repair"]::after,
.areadescription a[href*="=seccheck"]::after,
.areadescription a[href*="=claneffect"]::after,
.listusersrow a[href*="npc_active"]::after,
.areadescription > a[href="?"]::after,
.areadescription a[href*="unten"]::after,
.areadescription a[href*="drink"]:not(#x96y84 .areadescription a[href*="drinkwater"])::after, /* berghütte */
.areadescription a[href*="unten"]:not(a[href*="unten4941"])::after, /* turm der geister */
.areadescription a[href$="go"]::after,
.areadescription a[href*="oben"]::after,
.areadescription a[href*="hoehle"]::after,
.areadescription a[href*="casino2"]::after,
.areadescription a[href*="betreten"]::after,
.areadescription a[href*="rausgehen"]::after,
.areadescription a[href*="abgeben"]::after, 
.areadescription a[href*="seilbahn"]::after,
.areadescription a[href*="einsetzen"]::after,
.areadescription a[href*="cube"]::after,
.listusersrow a[href*="npc_mode"]::after,
.framemainbg a[href*="msg_isreport"]::after,
.areadescription a[href="main.php"]::after,
.areadescription a[href*="cancelmission"]::after {
    font-size: 30px;
    position: absolute;
    right: 7px;
    translate: 0px -6px;
    width: 30px;
    height: 30px;
    background: var(--itemframe_bg);
    padding: 5px;
    line-height: 1;
    border: 1px solid var(--border);
    border-right-width: 0;
    border-radius: 5px 0 0 5px;
    text-align: center;
}

.listusersrow .fastattack::after { content: "\2694"; }
.listusersrow .fastchase::after {
    content: "\2691";
    right: 62px !important;
}

/* Diamant bei items auf dem feld */
.framemainbg a[href*="archive"]::after,
.listplaceitemsrow a::after { content: "\2666"; }

/* hammer und pick - goldadern, aufträge, evt. matched der auch was anderes.. test (yolo) */
.areadescription a[href*="=getmission"]::after,
.areadescription a[href*="finish=1"]::after,
.areadescription a[href*="=repair"]::after,
.areadescription a[href*="=seccheck"]::after,
.areadescription a[href*="=claneffect"]::after,
.listusersrow a[href*="npc_active"]::after,
.areadescription > a[href="?"]::after { content: "\2692"; }

/* Frucht - Mäuse und Knochen */
.areadescription a[href*="unten310"]::after,
.areadescription a[href*="unten244"]::after,
.areadescription a[href*="drink"]:not(#x96y84 .areadescription a[href*="drinkwater"])::after { content: "\2766" !important; } /* Berghütte */

/* weißes Shogi - Dungeons, evt. matched der auch was anderes.. test (yolo) */
.areadescription a[href*="unten"]:not(a[href*="unten4941"])::after,
.areadescription a[href$="go"]::after,
.areadescription a[href*="oben"]::after,
.areadescription a[href*="hoehle"]::after,
.areadescription a[href*="casino2"]::after,
.areadescription a[href*="betreten"]::after,
.areadescription a[href*="rausgehen"]::after,
.areadescription a[href*="abgeben"]::after, 
.areadescription a[href$="arrive_eval=seilbahn"]::after,
.areadescription a[href*="einsetzen"]::after,
.areadescription a[href*="extra_active"]::after,
.areadescription a[href*="cube"]::after,
.listusersrow a[href*="npc_mode"]::after /* 20979 */ { content: "\2616"; }

/* Back Buttons a[href="main.php"]::after */
.framemainbg a[href*="msg_isreport"]::after,
.areadescription a[href="main.php"]::after,
.areadescription a[href*="cancelmission"]::after { content: "\2716"; }

/*black uk fields*/
td[style*="/map/black.jpg"] a:not(.nocango),
td[style*="/map/u/Einzelbilder/002.jpg"] a,
td[style*="/map/ixi19.jpg"] a{
    z-index: 99;
    width: 50px;
    height: 50px;
    display: block;
    background: radial-gradient(circle, #996, transparent, transparent);
}

/* von Teepflanze geklaut */

img[src*="npc"],
img[src*="plant"] {
    border: 2px inset #333;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: .2rem;
}

img[src*="npcs"] { background: var(--color_npc_bg); }

img[src*="plant"] { background: var(--color_plant_bg); }

img[src*="/npcs/pha"] { background: var(--color_phase_bg); }

/*gigantische */
img[src$="spindel.gif"] { background: rgba(255, 113, 113, 0.71) !important; }
/*klein */
img[src$="spindel2.gif"] { background: rgba(127, 253, 103, 0.57) !important; }
/*normale */
img[src$="spindel3.gif"] { background: rgba(255, 252, 89, 0.76) !important; }

.aggressivenpc { color: var(--color_healthcritical); }

/* Einstellungen */
a[href*="profil.php?action=skip"]:hover { color: var(--color_healthcritical) }
a[href*="profil.php?action=show"]:hover,
a[href*="profil.php?action=enable"]:hover { color: var(--color_healthok) }

form > input[name="ownstyle"] { width: 100%; }

.friendlist {
    border-collapse: collapse;
    margin-top: 1px;
}
.friendlist tr {
    background-color: var(--area_bg);
    border: 1px solid var(--border);
}
.friendlist td {
    padding: 2px;
}

/*
.friendlist td a:not(a[title="Kommentar verfassen"])::after {
    content: attr(title);
    position: absolute;
    left: 310px;
    white-space: nowrap;
    color: var(--global_font);
    cursor: default;
}
*/

/* fix quest color */
.framemainbg > svg { background-color: var(--global_font); }

/* UK fix */
.ukbar { background: var(--mainheader_bg) !important; }
.trplaceuk table { border-collapse: initial !important; }

/* itemfilter */
table.customfilters td { background-color: var(--area_bg); }
