/* Auftrags NPCs auf der Karte*/
.framemapbg table td { position: relative; }

.maptd a::after {
    z-index: 2;
    width: 50px;
    position: absolute;
    translate: -50px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #d20;
    background: #ccc;
}

/*Rattem - Kuridan */
#mapx115y98 a::after, #mapx114y99 a::after, #mapx115y100 a::after, #mapx114y103 a::after, #mapx113y104 a::after, #mapx115y104 a::after, #mapx116y105 a::after, #mapx115y106 a::after, #mapx114y107 a::after, #mapx116y107 a::after, #mapx118y107 a::after, #mapx115y108 a::after, #mapx116y108 a::after, #mapx117y108 a::after, #mapx118y108 a::after,
/*Ratten - Dranar */
#mapx-429y-293 a::after, #mapx-428y-294 a::after, #mapx-428y-293 a::after, #mapx-428y-292 a::after, #mapx-427y-292 a::after, #mapx-426y-294 a::after, #mapx-426y-293 a::after, #mapx-426y-292 a::after, #mapx-425y-293 a::after, #mapx-424y-294 a::after,
/*Ratten - Orewu */
#mapx111y117 a::after,
/*Ratten - Nawor */
#mapx101y110 a::after,
/*Ratten - (un)sterblich */
#mapx49y98 a::after, #mapx79y104 a::after,
/*Ratten - Waldratte */
#mapx94y106 a::after, #mapx91y103 a::after, #mapx94y104 a::after,
/*Rattem - Klauenratte */
#mapx83y86 a::after, #mapx80y88 a::after
, #mapx-780y-787 a::after
, #mapx-101y-100 a::after, #mapx-100y-100 a::after
, #mapx-198y-93 a::after
, #mapx-811y-811 a::after
, #mapx88y107 a::after
, #mapx-10002y-10003 a::after, #mapx-10001y-10002 a::after
, #mapx87y95 a::after
, #mapx93y95 a::after, #mapx91y96 a::after, #mapx93y97 a::after, #mapx94y98 a::after
, #mapx-818y-828 a::after
, #mapx46y79 a::after
{
    content: "Ratte";
}

/* Ratten image example*/
/*
#mapx-429y-293 a::after {
    content: url(../img/rat.svg);
    max-width: 25px;
    background: none;
    translate: -37px -5px;
}
*/
/* Narubia - Wolf der Finsternis */
#mapx500y53 a::after, #mapx504y54 a::after, #mapx507y54 a::after, #mapx502y56 a::after, #mapx506y56 a::after  { content: "Wolf"; }

/* Mento, Nawor, Azul - Wüstenmäuse */
#mapx102y111 a::after, #mapx98y115 a::after, #mapx100y116 a::after, #mapx104y119 a::after, #mapx105y128 a::after  { content: "Maus"; }

/* Ruward - Onloskelette */
#mapx70y105 a::after, #mapx70y108 a::after, #mapx70y108 a::after, #mapx71y105 a::after, #mapx71y107 a::after, #mapx72y106 a::after, #mapx73y105 a::after, #mapx73y106 a::after, #mapx74y104 a::after  { content: "Onlo"; }

/* Lardikia - Blattalisken */    
#mapx119y111 a::after, #mapx119y114 a::after, #mapx119y115 a::after, #mapx120y111 a::after, #mapx120y114 a::after, #mapx121y111 a::after, #mapx121y114 a::after, #mapx121y115 a::after { content: "Blattalisk"; }

/* Buran - untote Bürger */ 
#mapx82y87 a::after, #mapx-196y-96 a::after, #mapx81y89 a::after, #mapx82y90 a::after, #mapx80y87 a::after, #mapx81y88 a::after, #mapx84y88 a::after, #mapx-185y-94 a::after, #mapx-193y-98 a::after { content: "B\00fcrger"; }

/* Plfefir - Pilzwachtel */
#mapx80y106 a::after, #mapx78y107 a::after, #mapx80y107 a::after, #mapx82y107 a::after, #mapx78y108 a::after, #mapx79y108 a::after, #mapx81y108 a::after, #mapx83y108 a::after, #mapx77y109 a::after, #mapx79y109 a::after, #mapx80y109 a::after, #mapx81y109 a::after, #mapx82y109 a::after, #mapx77y110 a::after, #mapx78y110 a::after, #mapx80y110 a::after, #mapx81y110 a::after, #mapx78y111 a::after, #mapx83y110 a::after, #mapx80y111 a::after, #mapx82y111 a::after,  #mapx66y97 a::after { content: "Wachtel"; }

/* Limm, Azul und Laree - Ektofrone */
#mapx103y120 a::after, #mapx105y122 a::after, #mapx59y93 a::after, #mapx50y84 a::after, #mapx51y82 a::after, #mapx51y85 a::after, #mapx55y88 a::after, #mapx57y88 a::after, #mapx58y88 a::after, #mapx58y91 a::after, #mapx59y84 a::after, #mapx59y88 a::after, #mapx59y92 a::after, #mapx60y87 a::after, #mapx60y88 a::after, #mapx60y92 a::after { content: "Ektofron"; }

/*t-Falter - Lodradron*/
#mapx109y76 a::after, #mapx108y77 a::after, #mapx111y77 a::after,#mapx112y79 a::after, #mapx113y79 a::after, #mapx116y79 a::after, #mapx119y79 a::after, #mapx115y80 a::after, #mapx114y81 a::after, #mapx-508y-375 a::after { content: "t-Falter"; }

/*kröten - Itolos*/
#mapx257y92 a::after, #mapx259y92 a::after, #mapx255y94 a::after, #mapx257y94 a::after, #mapx256y95 a::after, #mapx258y95 a::after, #mapx255y96 a::after { content: "Kr\00f6te"; }

/*e-kröten - Itolos*/
#mapx258y93 a::after, #mapx261y93 a::after, #mapx259y95 a::after, #mapx254y96 a::after { content: "e-Kr\00f6te"; }

/*wiesel*/
#mapx1006y1002 a::after,  #mapx1008y1002 a::after,  #mapx1005y1003 a::after,  #mapx1007y1003 a::after,  #mapx1008y1003 a::after,  #mapx1009y1003 a::after,  #mapx1004y1004 a::after,  #mapx1005y1004 a::after,  #mapx1006y1004 a::after,  #mapx1004y1005 a::after,  #mapx1005y1005 a::after,  #mapx1007y1005 a::after,  #mapx1008y1005 a::after,  #mapx1009y1005 a::after,  #mapx1011y1005 a::after,  #mapx1005y1006 a::after { content: "Wiesel"; }

/*strativar - incomplete*/
#mapx196y128 a::after, #mapx192y136 a::after, #mapx189y132 a::after, #mapx197y128 a::after, #mapx195y129 a::after, #mapx188y131 a::after, #mapx193y131 a::after, #mapx194y132 a::after, #mapx191y133 a::after, #mapx193y135 a::after { content: "Strativar"; }

/*Resistenz - Gewächshaus*/
#mapx-259y-518 a::after,#mapx-258y-517 a::after { content: "Stepto" }
#mapx-258y-518 a::after,#mapx-258y-516 a::after,#mapx-256y-519 a::after { content: "Falter" }
#mapx-257y-519 a::after,#mapx-256y-517 a::after { content: "Beide" }

/*undarons*/
#mapx-429y-298 a::after, #mapx-425y-298 a::after, #mapx-428y-296 a::after, #mapx102y121 a::after, #mapx106y124 a::after, #mapx103y125 a::after, #mapx105y125 a::after, #mapx103y126 a::after, #mapx104y126 a::after, #mapx103y127 a::after, #mapx105y127 a::after, #mapx106y127 a::after, #mapx107y127 a::after, #mapx103y128 a::after, #mapx106y128 a::after, #mapx51y90 a::after, #mapx53y98 a::after, #mapx53y103 a::after, #mapx-429y-298 a::after, #mapx-425y-298 a::after, #mapx-428y-296 a::after, #mapx51y80 a::after, #mapx53y85 a::after, #mapx126y86 a::after, #mapx121y87 a::after, #mapx122y87 a::after, #mapx119y89 a::after { content: "Undaron"; }

/*Nebelgeister - Alte Mühle*/
#mapx-821y-780 a::after,#mapx-824y-779 a::after,#mapx-824y-778 a::after,#mapx-824y-777 a::after,#mapx-823y-777 a::after,#mapx-822y-776 a::after,#mapx-825y-779 a::after,#mapx-825y-778 a::after { content: "Geist"; }

/*Lebende Äste - Lichtwald*/
#mapx-599y-448 a::after,#mapx-597y-448 a::after,#mapx-596y-449 a::after,#mapx-595y-448 a::after { content: "Ast" }

/* Brotandro - Avarin */
#mapx111y132 a::after, #mapx113y131 a::after, #mapx115y131 a::after, #mapx115y134 a::after{ content: "B-Virus" }
