.frameitembg span.location:not(.unterirdisch, .portalstab):after {
	display: inline-block;
	background: black;
	color: var(--blauer_indicator);
	width: 40px;
	margin-right: -40px;
	position: relative;
	left: -47px;
	top: 12px;
	font-size: 10px;
	font-weight: bold;
	pointer-events: none;
}

.frameitembg .oberirdisch > span.location[data-gebiet="Brondor - Der Fluss ins Meer"]:after { content: "129 90"; }
.frameitembg .oberirdisch > span.location[data-gebiet="Die Felseninsel"]:after { content: "144 126"; }
.frameitembg .oberirdisch > span.location[data-gebiet="Dorea - Land der Geysire"]:after { content: "118 124"; }
.frameitembg .oberirdisch > span.location[data-gebiet="Dranar - Die Tore von Dranar"]:after { content: "58	98"; }
.frameitembg .oberirdisch > span.location[data-gebiet="Ferdolien - Der Park"]:after { content: "106 93";}
.frameitembg .oberirdisch > span.location[data-gebiet="Kerdis - Der knorrige Baum"]:after { content: "90 115"; }
.frameitembg .oberirdisch > span.location[data-gebiet="Kolun - Die Burg Hulnodar"]:after { content: "62 83";}
.frameitembg .oberirdisch > span.location[data-gebiet="Krato - Der verschwiegene Fluss"]:after { content: "59 106"; }
.frameitembg .oberirdisch > span.location[data-gebiet="Kuridan - Der Wandelfluss"]:after { content: "122 100"; }
.frameitembg .oberirdisch > span.location[data-gebiet="Kuridan - Die Prärie"]:after { content: "115 100"; }
.frameitembg .oberirdisch > span.location[data-gebiet="Lardikia - Der Strand"]:after { content: "122 116"; }
.frameitembg .oberirdisch > span.location[data-gebiet="Laree - Die Post"]:after { content: "54 76"; color: lime; }
.frameitembg .oberirdisch > span.location[data-gebiet="Linya - Dichter Wald"]:after { content: "135 115"; }
.frameitembg .oberirdisch > span.location[data-gebiet="Nawor - Geröll"]:after { content: "110 107"; }
.frameitembg .oberirdisch > span.location[data-gebiet="Ragnur - Steiler Hang"]:after { content: "96 78"; }
.frameitembg .oberirdisch > span.location[data-gebiet="Rovonia - Der Seichtwassersumpf"]:after { content: "64 80";}
.frameitembg .oberirdisch > span.location[data-gebiet="Salthos - Die Weinstraße"]:after { content: "104 132"; color: lime; }
.frameitembg .oberirdisch > span.location[data-gebiet="Terasi - Der Fluss"]:after { content: "72 116"; }
.frameitembg .oberirdisch > span.location[data-gebiet="Torihn - Das Biotop"]:after { content: "121 91" !important; }
.frameitembg .oberirdisch > span.location[data-gebiet="Wilisien - Das Schneedorf"]:after { content: "111 83"; color: lime; }

.frameitembg .apparat > span.location[data-gebiet="Belron - Der Nebelwald"]:after { content: "50 95"; }
.frameitembg .apparat > span.location[data-gebiet="Elufia - Moosebene"]:after { content: "125 76"; }
.frameitembg .apparat > span.location[data-gebiet="Elufia - Todestal"]:after { content: "125 76"; }
.frameitembg .apparat > span.location[data-gebiet="Elufia - Frostwiese"]:after { content: "125 76"; }
.frameitembg .apparat > span.location[data-gebiet="Etume - Die Flusslandschaft"]:after { content: "71 121"; }
.frameitembg .apparat > span.location[data-gebiet="Laree - Die Schotterwiesen"]:after { content: "49 81"; }
.frameitembg .apparat > span.location[data-gebiet="Loranien - Der See des Friedens"]:after { content: "80 117"; }
.frameitembg .apparat > span.location[data-gebiet="Pensal - Der verfluchte Wald"]:after { content: "52 112"; }
.frameitembg .apparat > span.location[data-gebiet="Plefir - Das Pilzgebiet"]:after { content: "79 109"; }

/* falls ring des sandsturms verfügbar */
.frameitembg span.location[data-gebiet="Mentoran - Bank aller Wesen"]:after{ content: "98 120"; color: lime; }
.frameitembg span.location[data-gebiet="Latenia - Die Schneeberge"]:after{ content: "98 81"; }
.frameitembg span.location[data-gebiet="Lardikia - Der karge Berg"]:after{ content: "121 112"; }
.frameitembg span.location[data-gebiet="Urdanien - Wiesenhügel"]:after{ content: "72 85"; }
.frameitembg span.location[data-gebiet="Torihn - Das Biotop"]:after{ content: "123 92"; }
.frameitembg span.location[data-gebiet="Krato - Der verschwiegene See"]:after{ content: "58 107"; }
.frameitembg span.location[data-gebiet="Delos - Die düstere Ebene"]:after{ content: "65 96"; }
.frameitembg span.location[data-gebiet="Der Steinrutsch - Die Seilbahn"]:after{ content: "80 75"; }
.frameitembg span.location[data-gebiet="Tirachli - Bemooste Steine"]:after{ content: "45 98"; }
.frameitembg span.location[data-gebiet="Salthos - Die Steilküste"]:after{ content: "100 135"; }
.frameitembg span.location[data-gebiet="Venost - Die Stadt am Berg"]:after{ content: "58 74"; }
.frameitembg span.location[data-gebiet="Die Kreideinsel"]:after{ content: "147 121"; }
.frameitembg span.location[data-gebiet="Elufia - Bergspitze"]:after{ content: "120 70"; }
